body {
  font-family: Arial;
  background: #111;
  color: white;
  text-align: center;
  padding: 20px;
}

.app {
  max-width: 500px;
  margin: auto;
}

button {
  padding: 12px 20px;
  margin: 8px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
}

textarea {
  width: 100%;
  height: 100px;
  margin-top: 10px;
  background: #222;
  color: white;
  border-radius: 8px;
  padding: 10px;
}
