body {
  margin: 0;
  background: #0d0d0d;
  color: white;
  font-family: system-ui;
  text-align: center;
}

.center {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button {
  padding: 15px 25px;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  background: #2563eb;
  color: white;
}

#mic {
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  font-size: 28px;
}
