body {
  margin: 0;
  font-family: system-ui;
  background: #0d0d0d;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  padding: 16px;
  font-size: 20px;
  text-align: center;
  background: #111;
  font-weight: bold;
  border-bottom: 1px solid #222;
}

#chat {
  flex: 1;
  overflow-y: auto;
  padding: 12px;
  display: flex;
  flex-direction: column;
}

.msg {
  max-width: 80%;
  padding: 10px 14px;
  margin: 6px 0;
  border-radius: 14px;
  font-size: 14px;
}

.user {
  align-self: flex-end;
  background: #2563eb;
}

.bot {
  align-self: flex-start;
  background: #1f1f1f;
}

#micBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  font-size: 26px;
  background: #2563eb;
  border: none;
  color: white;
}
